<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="ready==true">

    <ion-row>
        <ion-col padding></ion-col>
        <ion-col align-self-center>
            <ion-img src="../../assets/editar.png"></ion-img>
        </ion-col>
        <ion-col padding></ion-col>
        <ion-col size="12" align-self-center>
            <ion-item lines="none" style="background: transparent;">
                <ion-label >Nombre: {{items.nombre}} {{items.apellido}}</ion-label>
            </ion-item>
          </ion-col>
        <ion-col size="12" align-self-center>
          <ion-item lines="none" style="background: transparent;">
              <ion-label >Username: {{items.username}}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="12" align-self-center>
          <ion-item lines="none" style="background: transparent;">
              <ion-label>Correo: {{items.email}}</ion-label>
          </ion-item>
        </ion-col>
        <ion-col size="12" align-self-center>
            <ion-item lines="none" style="background: transparent;">
                <ion-label>Cumpleaños: {{items.fechaNacimiento}}</ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="12" align-self-center>
              <ion-item lines="none" style="background: transparent;">
                  <ion-label>Pais: {{items.pais}}</ion-label>
              </ion-item>
            </ion-col>
            <ion-col size="12" align-self-center>
                <ion-item lines="none" style="background: transparent;">
                    <ion-label>Estado: {{items.estado}}</ion-label>
                </ion-item>
              </ion-col>


            <ion-col size="12" align-self-center>
                <ion-item lines="none" style="background: transparent;">
                    <ion-label>Municipio: {{items.ciudad}}</ion-label>
                </ion-item>
              </ion-col>
      </ion-row>
</ion-content>
