<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="feed-adopcion">
        <ion-icon name="apps"></ion-icon>
        <ion-label>Adopcion</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="feed-match">
        <ion-icon name="heart"></ion-icon>
        <ion-label>Match</ion-label>
      </ion-tab-button>

    <ion-tab-button tab="servicios">
        <ion-icon name="apps"></ion-icon>
        <ion-label>Servicios</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="perfil">
        <ion-icon name="person"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  