<ion-header></ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card *ngFor="let item of items">
                    <ion-card-header>
                        <ion-img src="https://i.pinimg.com/originals/36/35/51/363551657bca135492c535df672aef8a.jpg"></ion-img>
                        <ion-card-title>{{item.titulo}}</ion-card-title>
                    </ion-card-header>
                    <h5><ion-icon name="phone-portrait" ></ion-icon>Telefono: {{item.telefono}} </h5>
                    <ion-textarea placeholder="Descripcion">{{item.descripcion}}</ion-textarea>
                </ion-card>

            </ion-col>                        
        </ion-row>
    </ion-grid>
</ion-content>