<ion-header>
  <ion-toolbar>
    <ion-title>CrearAdopcion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="align-content: center; ">
    <ion-input placeholder="Titulo de la publicacion"></ion-input>
    <ion-textarea placeholder="descripcion" style="height: 128px; width: max-content;"></ion-textarea>
  </div>


  <div style="border:blue">
    <ion-input placeholder="Especie"></ion-input>
    <ion-input placeholder="Edad"></ion-input>
    <ion-input placeholder="Pais"></ion-input>
    <ion-input placeholder="Estado"></ion-input>
    <ion-input placeholder="Ciudad"></ion-input>
  </div>
  <div>
    <ion-button color="dark">Subir fotos</ion-button><ion-button color="secondary"> Publicar</ion-button>
  </div>
</ion-content>
