ion-content{
    --background: url(../../assets/images.jpg);
}
img{
    text-align: center;
    align-content: center;
    align-self: center;
    max-width: 710px;
    max-height: 710px;
  }