ion-img{
    max-width: 200px;
    max-height: 200px;
}

ion-icon{
    max-width: 20px;
    max-height: 20px;
}
ion-content{
    --background: url(../../assets/images.png);
}


ion-item{
    border-radius: 30px;;
}