<ion-content >
  <ion-slides class="clasy">
      <ion-slide>
        <ion-grid>
            <ion-row>
                <ion-col padding size="1"></ion-col>
              <ion-col class="ion-align-self-center" size="10">
                <br><br>
                <div style="text-align: center;">
                    <ion-img style="margin-left: 60px;" src="assets/s-l300.png"></ion-img>
                </div><br><br>
                <h1 style="color: white;">Encuentra a tu compañero incondicional</h1>
                  <ol>
                    <li style="color: white;" type="circle">Adopción</li> <br>
                    <li style="color: white;" type="circle">Parejas para mascotas</li>
                  </ol>
                  <br><br><br><br><br><br><br>
              </ion-col>
              <ion-col padding size="1"></ion-col>
            </ion-row>
        </ion-grid>
      </ion-slide>

      <ion-slide>
        <ion-grid>
          <ion-row>
            <ion-col padding size="1"></ion-col>
            <ion-col size="10">
                <br><br>
                <div style="text-align: center;">
                    <ion-img style="margin-left: 70px;" class="cambio" src="assets/Tienda.png"></ion-img>
                </div><br><br>
                <h3 style="color: white;">¿Buscas un servicio?</h3>
                  <ol style="color: white;">
                      <li type="circle">Veterinario</li> <br>
                      <li type="circle">Estetica</li><br>
                      <li type="circle">Comida</li><br>
                      <li type="circle">Snacks</li>
                      <li type="circle"></li><br>
                    </ol><br><br><br>
                    
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>

      <ion-slide>
        <ion-grid>
          <ion-row>
              <ion-col padding size="1"></ion-col>
              <ion-col size="10">
                  <br><br>
                  <div style="text-align: center;">
                      <ion-img style="margin-left: 70px;" class="cambio" src="assets/Corazon.png"></ion-img>
                  </div><br><br>
                  <h3 style="color: white;">Comparte tu experiencia</h3><br>
                    <ol style="color: white;">
                        <li type="circle">Cómo elegir una mascota</li> 
                      <li type="circle">Como entrenar a mi mascota</li>
                      <li type="circle">Cómo denunciar el maltrato animal</li>
                      <li type="circle">Lo que debes saber sobre la adopción</li>
                      </ol><br><br><br><br>
                      <ion-button color="light" shape="round" (click)="goToHome()"><ion-icon color="primary" name="arrow-round-forward"></ion-icon></ion-button>
              </ion-col>
          </ion-row>
        </ion-grid>
      </ion-slide>

    </ion-slides>
    </ion-content>