<ion-header>
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="align-items: center;">
  <ion-input placeholder="Nombre de usuario"></ion-input>
  <ion-input placeholder="Nombre"></ion-input>
  <ion-input placeholder="Apellidos"></ion-input>
  <ion-input placeholder="Fecha de nacimiento"></ion-input>
  <ion-input placeholder="Municipio"></ion-input>
  <ion-input placeholder="Estado"></ion-input>
  <ion-input placeholder="Pais"></ion-input>
  <ion-input placeholder="correo"></ion-input>
  <ion-input placeholder="password"></ion-input>
  <ion-button color="dark">Subir foto</ion-button>
  <ion-button color="primary">Guardar</ion-button>
</ion-content>
